<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Page book</title>
</head>
<body>
    <p th:text="${book.getTitle()} + ', ' + ${book.getAuthor()} + ', ' + ${book.getYear()}"></p>
    <div th:if="${owner}">
        <p th:text="${owner.getFullName() + ', ' + owner.getYearOfBirth()}"></p>
        <form th:method="PATCH" th:action="@{/books/{id}/release(id=${book.getBookId()})}">
            <input type="submit" value="Release">
        </form>
    </div>
    <div th:if="${people}">
        <form th:method="PATCH" th:action="@{/books/{id}/assign(id=${book.getBookId()})}">
            <label for="book">Select person: </label>
            <select id="book" th:object="${person}" th:field="*{personId}">
                <option th:each="person : ${people}" th:value="${person.getPersonId()}" th:text="${person.getFullName()}"></option>
            </select>
            <input type="submit" value="Select person">
        </form>
    </div>
    <hr/>
    <form th:method="GET" th:action="@{/books/{id}/edit(id=${book.getBookId()})}">
        <input type="submit" value="Edit">
    </form>
    <form th:method="DELETE" th:action="@{/books/{id}(id=${book.getBookId()})}">
        <input type="submit" value="Delete">
    </form>
</body>
</html>